.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    padding: 4.5vmax;
    color: #b0b0b0;
    background-color: #212121;
}

.footer div{
    margin:  1vmax;
    display: flex;
    flex-direction: column;
}

.footer div a{
    color: #b0b0b0;
    font-size: 1vmax;
    text-decoration: none;
    margin: 0.6vmax 0;
}


.footer div a:hover{
    color: white;
}

.footer div:last-child button{
    width: 50%;
    border: 1px solid white;
    color: white;
    background-color: #212121;
    padding: 0.65vmax 0;
    font-size: 0.96vmax;
    font-weight: 102;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.4s;
}

.footer div:last-child button:hover{
    background-color: white;
    color:black;
}

.footerBorder{
    color: #b0b0b0;
    background-color: #212121;
}

.footerBorder div{
    border-top: 1px solid #424242;
    width: 90vmax;
    margin:auto;
    padding: 1.6vmax;
    font-size: 1vmax;
}